{% extends 'base.html' %}
{% block content %}
<!-- {% url 'register' as abc %} -->
<div class="container">
  <form action="" method="post">

    {% csrf_token %}

    <label>First Name:</label><input type="text" name="first_name" placeholder="First Name"/><br>
    <label>Last Name:</label><input type="text" name="last_name" placeholder="Last Name"/><br>
    <label>E-mail:</label><input type="email" name="email" placeholder="some@xyz.com"/><br>
    <label>Store Name:</label><input type="text" name="store_name" placeholder="Store Name"/><br>
    <label>Address:</label><textarea name = "address" rows = "3" cols = "80" placeholder="Your text here"></textarea><br>
    <label>GST No:</label><input type="text" name="gst_no" placeholder="GST No"/><br>
    <label>Telephone:</label><input type="text" name="telephone" placeholder="Telephone No"/><br>
    <label>City:</label><input type="text" name="city" placeholder="City"/><br>
    <label>State:</label><input type="text" name="state" placeholder="State"/><br>
    <label>Password:</label><input type="password" name="password1" placeholder="Password"/><br>
    <label>Conform Password:</label><input type="password" name="password2" placeholder="Conform-Password"/><br>
    <input type="submit" value="sign up"/><br>

  </form>
  {% for message in messages %}
  <h4>{{message}}</h4>
  {% endfor %}
</div>

{%endblock%}
